;;; configuration for LIFT tests

;; settings
(:if-dribble-exists :supersede)
(:dribble "lift.dribble")
(:print-length 10)
(:print-level 5)
(:print-test-case-names t)

;; suites to run
(root)

;; report properties
(:report-property :title "dbd-oracle | Test results")
(:report-property :relative-to dbd-oracle-test)

(:report-property :style-sheet "test-style.css")
(:report-property :if-exists :supersede)
(:report-property :format :html)
(:report-property :full-pathname "test-results/archive/html/report")
(:report-property :unique-name t)
(:build-report)

(:report-property :style-sheet "test-style.css")
(:report-property :if-exists :supersede)
(:report-property :format :html)
(:report-property :full-pathname "test-results/html/latest")
(:report-property :unique-name nil)
(:build-report)


(:report-property :unique-name nil)
(:report-property :format :describe)
(:report-property :full-pathname "test-results/test-report.txt")
(:build-report)

(:report-property :unique-name nil)
(:report-property :format :save)
(:report-property :full-pathname "test-results/test-report.sav")
(:build-report)

(:report-property :format :describe)
(:report-property :full-pathname *standard-output*)
(:build-report)
